<div class="media-editor butter-editor fadable alternates-hidden allow-scrollbar no-paging">
  <h1 class="add-new-media">Create new media clip</h1>
  <ul class="butter-editor-tabs">
    <li><a class="butter-btn project-tab butter-active">My Media</a></li>
    <li><a class="butter-btn search-tab">Search for Media</a></li>
  </ul>
  <div class="butter-editor-body butter-tabs-spacing">
    <fieldset class="add-media-panel">
      <div class="media-editor-inner-wrapper primary-media-wrapper project-clips">
        <p>
          <span class="fl-right">
            <span class="media-icon youtube-icon"></span>
            <span class="media-icon vimeo-icon"></span>
            <span class="media-icon soundcloud-icon"></span>
            <span class="media-icon html5-icon"></span>
          </span>
          Paste a link from YouTube, SoundCloud, Vimeo, HTML5 video...
        </p>
        <textarea class="add-media-input" placeholder="Paste an HTML5, YouTube, Vimeo, or SoundCloud link here"></textarea>
      </div>
      <div class="media-editor-inner-wrapper primary-media-wrapper search-items butter-hidden">
        <p>
          <span class="fl-right">
            <span class="media-icon youtube-icon"></span>
            <span class="media-icon soundcloud-icon"></span>
            <img class="media-icon" alt="image icon" src="/resources/icons/giphy.png">
            <img class="media-icon" alt="image icon" src="/resources/icons/flickr-black.png">
          </span>
          Search the web
        </p>
        <span>Search for items from: </span>
        <select>
          <option value="YouTube" id="select-youtube">YouTube</option>
          <option value="SoundCloud" id="select-soundcloud">SoundCloud</option>
          <option value="Flickr" id="select-flickr">Flickr</option>
          <option value="Giphy" id="select-giphy">Giphy</option>
        </select>
        <textarea class="search-media-input" placeholder="Type Here"></textarea>
      </div>
      <span class="butter-btn-slide-out">
        <a class="add-media-btn butter-btn btn-green hidden">Create clip</a>
        <span class="media-loading-spinner butter-spinner hidden" ></span>
        <label class="media-error-message hidden"></label>
      </span>
    </fieldset>

    <div class="media-gallery">
      <div class="media-gallery-heading">
        Media Gallery
      </div>
      <div class="media-gallery-scroll-container scrollbar-container">
        <div class="scrollbar-outer scrollbar-inner">
          <ul class="media-gallery-list" id="project-items" data-page="1"></ul>
          <ul class="media-gallery-list" id="youtube-items" data-page="1"></ul>
          <ul class="media-gallery-list" id="soundcloud-items" data-page="1"></ul>
          <ul class="media-gallery-list" id="flickr-items" data-page="1"></ul>
          <ul class="media-gallery-list" id="giphy-items" data-page="1"></ul>
        </div>
      </div>
    </div>

    <fieldset class="media-gallery-base-media butter-form-inline form-single bottom2">
      <div class="paging-container">
        <ul></ul>
      </div>
      <label>Duration</label>
      <input type="text" class="media-base-duration" value=""/>
    </fieldset>
    <fieldset class="media-gallery-base-media butter-form-inline form-single bottom">
      <input type="checkbox" id="media-automatic-lines" class="media-automatic-lines" checked="true" />
      <label class="media-automatic-lines">Automatic Lines</label>
    </fieldset>
  </div>
</div>

<!-- This is used for photo based media items -->
<li class="media-gallery-item gallery-item-grid gallery-photo">
  <div class="mg-thumbnail"><span class="icon-plus hidden"></span></div>
  <div class="mg-meta-data">
    <div class="mg-title"></div>
    <div class="mg-type">
      <img class="media-icon" alt="image icon">
      <span class="mg-type-text photo"></span>
    </div>
  </div>
  <span class="mg-delete-btn icon icon-trash"></span>
</li>

<!-- This is added to media-gallery for each new media item -->
<li class="media-gallery-item gallery-video">
  <div class="mg-thumbnail"><span class="icon-plus hidden"></span></div>
  <div class="mg-meta-data">
    <div class="mg-title"></div>
    <div class="mg-type media-icon"><span class="mg-type-text media"></span></div>
    <div class="mg-duration"></div>
  </div>
  <span class="mg-delete-btn icon icon-trash"></span>
</li>